.chat-member
  Koki
.chat-time
  2019/08/23(Fri) 11:45:16
.chat-comment
  こんにちは

.chat-member
  Koki
.chat-time
  2019/08/23(Fri) 11:45:16
.chat-comment
  おはようございます

.chat-member
  Koki
.chat-time
  2019/08/23(Fri) 11:45:16
.chat-comment
  さようなら

.chat-member
  Koki
.chat-time
  2019/08/23(Fri) 11:45:16
.chat-comment
  こんにちは

.chat-member
  Koki
.chat-time
  2019/08/23(Fri) 11:45:16
.chat-comment
  こんにちは

.chat-member
  Koki
.chat-time
  2019/08/23(Fri) 11:45:16
.chat-comment
  こんにちは

.chat-member
  Koki
.chat-time
  2019/08/23(Fri) 11:45:16
.chat-comment
  こんにちは