.header
  グループを作成しました
.chat-side
  .side-header
    Koki
  .side-group
    .group-title
      ii
    .group-comment
      画像が投稿されています

.chat-main
  .chat-title
    .title-name
      ii
    .user-name
      Member : Koki
  .chat-home
  iii
  uuu

  .chat-search



  -# =link_to "https://www.facebook.com/", class: "contents__btn" do
  -#   Facebook
  -# =link_to "https://twitter.com/", class: "contents__btn" do
  -#   Twitter
  -# =link_to "https://www.instagram.com/", class: "contents__btn" do
  -#   Instagram
    -# =link_to "https://www.facebook.com/", class: "contents__btn" do
    -# = fa_icon 'fas fa-edit'
