.header
  グループを作成しました
.chat-side
  .side-header
    Koki
  .side_group
    ii

.chat-main
  .chat-title
    ii
  .chat-home


  .chat-search



  -# =link_to "https://www.facebook.com/", class: "contents__btn" do
  -#   Facebook
  -# =link_to "https://twitter.com/", class: "contents__btn" do
  -#   Twitter
  -# =link_to "https://www.instagram.com/", class: "contents__btn" do
  -#   Instagram